.header{
    background-color: #282c34;
    color: aliceblue;
    margin:0px;
    padding:0px;
  }
  .Solve{
    margin:0px;
    padding:5px;
    font-size: 20px;
    display:inline-block;
    display:inline-block;
    border-right-color:whitesmoke;
    border-right-width: 5px;
    border-right-style:solid;  
  }
  .Edit{
    margin:0px;
    padding:5px;
    font-size: 20px;
    display:inline-block;
    border-right-color:whitesmoke;
    border-right-width: 5px;
    border-right-style:solid; 
  }
  .Add{
    margin:0px;
    padding:5px;
    font-size: 20px;
    display:inline-block;
    border-right-color:whitesmoke;
    border-right-width: 5px;
    border-right-style:solid; 
  }